@model RegisterViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <br />
    <form method="post">
        <label>Adınız</label>
        <input tyoe="text" asp-for="Name" class="form-control" />
        <br />
        <label>Soyadınız</label>
        <input tyoe="text" asp-for="Surname" class="form-control" />
        <br />
        <label>Mail Adresiniz</label>
        <input tyoe="text" asp-for="Email" class="form-control" />
        <br />
        <label>Kullanıcı Adınız</label>
        <input tyoe="text" asp-for="UserName" class="form-control" />
        <br />
        <label>Şifreniz</label>
        <input tyoe="password" asp-for="Password" class="form-control" />
        <br />
        <button class="btn btn-primary">Kaydet</button>
    </form>
</div>